@import './variables';

html{
    overflow-x:hidden;
}
body{
    margin:0;
    overflow-x:hidden;
    #app{
        background-color:$gray-100;
        font-size:16px;
        font-weight:400;
        color:$gray-300;
        min-height: 100vh;
        @media screen and (max-width:991.98px){
            font-size:14px;
        }
        *{
            box-sizing: border-box;
        }
        h1,h2,h3,h4,h5,h6{
            margin:0
        }
        .container-fluid{
            min-height:100vh;
        }
        ul{
            list-style: none;
            padding-left:8px;
            @media screen and (max-width:991.98px){
                margin:8px 0;
            }
        }
        p{

        @media screen and (max-width:991.98px){
            margin:8px 0;
        }
        }
        h2{
            font-size:16px;
            font-weight:bold;

        }
    }
}